<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="_common::meta"/>
    <title>募集</title>
    <th:block th:replace="_common::css"/>
</head>
<header>
    <th:block th:replace="header::header"/>
</header>
<body>
<div class="container-md mt-md-5 mt-sm-4 mt-2" style="max-width: 720px;">
    <div class="row align-items-center">
        <div class="col-md-12">
            <h2>募集リスト</h2>
            <th:block th:if="${recruitments.size == 0}">
                <p>現在募集はありません</p>
            </th:block>
            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item" th:each="recruitment:${recruitments}">
                    <div class="d-flex flex-row align-items-start">
                        <img src="/img/icon.png" class="img-fluid rounded-circle" width="40"
                             th:style="|background: ${@colorUtil.generateColorCode(recruitment.createdFriend.userId)}|">
                        <div class="d-flex flex-column ms-2">
                            <div class="h4">
                                <a th:text="${recruitment.title}"/>
                            </div>
                            <div class="d-flex flex-row flex-wrap">
                                <a th:text="${recruitment.createdFriend.userName}" th:href="@{/user/{userId}(userId = ${recruitment.createdFriend.userId})}"/>
                                <div class="ms-2 text-secondary" th:text="${recruitment.createdFriend.userId}"/>
                                <div class="ms-2">
                                    <i class="bi bi-lock-fill" th:if="${recruitment.createdFriend.accountStatus.name()} == PRIVATE"></i>
                                </div>
                            </div>
                            <div>
                                参加者
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item" th:each="participant:${recruitment.participants}">
                                        <p th:text="${participant.userName}"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="flex-fill"></div>
                        <div>
                            <a class="btn btn-primary" th:href="@{/recruitment/detail/{recruitmentId}(recruitmentId=${recruitment.recruitmentId})}">
                                詳細
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block th:replace="_common::script"/>
</body>
</html>