<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>マイページ -編集</title>
    <th:block th:replace="_common::css"/>
</head>
<header>
    <th:block th:replace="header::header"/>
</header>
<body>
<div class="container-md mt-md-5 mt-sm-4 mt-2 mb-3" style="max-width: 720px;">
    <div class="row align-items-center">
        <div class="col-12">
            <h2>ユーザ情報更新</h2>
        </div>
        <div class="col-12 mt-2 alert alert-danger" id="errorMsg" role="alert" th:if="${errorMsg != null}" style="margin-top: -1rem;">
            <th:block th:text="${errorMsg}"/>
        </div>
        <form th:action="@{/mypage/edit}" th:method="post" th:object="${account}">
            <input type="hidden" id="lockVersion" class="form-control" th:field="*{lockVersion}"/>
            <div class="mb-3 form-group">
                <label for="inputUserId" class="form-label">ユーザID</label>
                <input id="inputUserId" class="form-control" th:field="*{userId}"
                       th:classappend="${#fields.hasErrors('userId')} ? 'is-invalid'"/>
                <span class="text-danger" th:if="${#fields.hasErrors('userId')}"
                      th:errors="*{userId}"> userId error</span>
            </div>
            <div class="mb-3 form-group">
                <label for="inputUserName" class="form-label">ユーザ名</label>
                <input id="inputUserName" class="form-control" th:field="*{userName}"
                       th:classappend="${#fields.hasErrors('userName')} ? 'is-invalid'"/>
                <span class="text-danger" th:if="${#fields.hasErrors('userName')}"
                      th:errors="*{userName}"> userName error</span>
            </div>
            <div class="mb-3 form-group">
                <label for="inputProfile" class="form-label">ひとこと</label>
                <input id="inputProfile" class="form-control" th:field="*{profile}"
                       th:classappend="${#fields.hasErrors('profile')} ? 'is-invalid'"/>
                <span class="text-danger" th:if="${#fields.hasErrors('profile')}"
                      th:errors="*{profile}"> profile error</span>
            </div>
            <div class="form-check form-switch mb-3">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" th:field="*{isPrivate}"/>
                <label class="form-check-label" for="flexSwitchCheckDefault">非公開アカウントにする</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">登録</button>
        </form>
        <p class="mt-5">パスワード更新は<a href="/mypage/edit-password">こちら</a></p>
    </div>
</div>
<th:block th:replace="_common::script"/>
</body>
<th:block th:replace="_common::script"/>
</body>
</html>