<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更</title>
    <th:block th:replace="_common::css"/>
</head>
<header>
    <th:block th:replace="header::header"/>
</header>
<body>
<div class="container-md mt-5 mb-3" style="max-width: 720px;">
    <div class="row align-items-center">
        <div class="col-12">
            <h2>パスワード更新</h2>
        </div>
        <div class="col-12 mt-2 alert alert-danger" id="errorMsg" role="alert" th:if="${errorMsg != null}">
            <th:block th:text="${errorMsg}"/>
        </div>
        <form th:action="@{/mypage/edit-password}" th:method="post" th:object="${password}">
            <div class="mb-3 form-group">
                <label for="inputOldPassword" class="form-label">旧パスワード</label>
                <input id="inputOldPassword" type="password" class="form-control" th:field="*{oldPassword}"
                       th:classappend="${#fields.hasErrors('oldPassword')} ? 'is-invalid'"/>
                <span class="text-danger" th:if="${#fields.hasErrors('oldPassword')}"
                      th:errors="*{oldPassword}">oldPassword error</span>
            </div>
            <div class="mb-3 form-group">
                <label for="inputNewPassword" class="form-label">新パスワード</label>
                <input id="inputNewPassword" type="password" class="form-control" th:field="*{newPassword}"
                       th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid'"/>
                <span class="text-danger" th:if="${#fields.hasErrors('newPassword')}"
                      th:errors="*{newPassword}">oldPassword error</span>
            </div>
            <div class="mb-3 form-group">
                <label for="inputConfirmPassword" class="form-label">新パスワード（確認用）</label>
                <input id="inputConfirmPassword" type="password" class="form-control" th:field="*{confirmPassword}"
                       th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid'"/>
                <span class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}"
                      th:errors="*{confirmPassword}">confirmPassword error</span>
            </div>
            <button type="submit" class="btn btn-primary mt-3">更新</button>
        </form>
    </div>
</div>
<th:block th:replace="_common::script"/>
</body>
<th:block th:replace="_common::script"/>
</body>
</html>