<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="_common::meta"/>
    <title>マイページ</title>
    <th:block th:replace="_common::css"/>
</head>
<header>
    <th:block th:replace="header::header"/>
</header>
<body>
<div class="container-md mt-md-5 mt-sm-4 mt-2" style="max-width: 720px;">
    <div class="row align-items-center">
        <div class="col-12 mb-4 alert alert-success" id="msg" role="alert" th:if="${msg != null}" style="margin-top: -1rem;">
            <th:block th:text="${msg}"/>
        </div>
        <div class="col-12 mb-4 alert alert-danger" id="errorMsg" role="alert" th:if="${errorMsg != null}" style="margin-top: -1rem;">
            <th:block th:text="${errorMsg}"/>
        </div>
        <div class="col-12">
            <h2>マイページ</h2>
        </div>
        <div class="col-md-2 col-2">
            <img src="/img/icon.png" class="img-fluid rounded-circle"
                 th:style="|background: ${@colorUtil.generateColorCode(account.userId)}|"/>
        </div>
        <div class="col-md-7 col-7">
            <h3>
                <th:block th:text="${account.userName}"/>
                <i class="bi bi-lock-fill" th:if="${account.status.name()} == PRIVATE"></i>
            </h3>
            <p class="fs-6 text-secondary mb-1" th:text="${account.userId}"/>
        </div>
        <div class="col-md-2 col-3 d-flex justify-content-end">
            <a class="btn btn-primary" th:href="@{/mypage/edit}">編集</a>
        </div>
        <div class="col-12 mt-2">
            <p th:text="${account.profile}"/>
        </div>

        <div class="col-md-12 mt-3">
            <h4>出社予定を作成</h4>
            <form class="row align-items-center" th:action="@{/mypage/shussha/create}" th:method="post">
                <div class="col-12 col-sm-5 form-floating">
                    <input id="shussha-date" class="form-control" placeholder="" th:value="${date}" name="date"
                           th:classappend="${#fields.hasErrors('date')} ? 'is-invalid'"/>
                    <label for="shussha-date">日時(yyyy/mm/dd)</label>
                    <span class="text-danger" th:if="${#fields.hasErrors('date')}"
                          th:errors="${date}">date format error</span>
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary">追加</button>
                </div>
            </form>
        </div>

        <div class="col-md-12 mt-4">
            <ul class="nav nav-tabs nav-fill">
                <li class="nav-item">
                    <a type="button" class="nav-link active" id="past-tab" data-bs-toggle="tab"
                       aria-controls="past" href="#past">出社履歴
                    </a>
                </li>
                <li class="nav-item">
                    <a type="button" class="nav-link" id="future-tab" data-bs-toggle="tab" aria-controls="future"
                       href="#future">出社予定
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="past" role="tabpanel" aria-labelledby="past-tab">
                   <ul class="list-group list-group-flush">
                       <li class="list-group-item" th:each="shussha:${pastShussha}">
                           <th:block th:text="${#temporals.format(shussha.date, 'yyyy/MM/dd') + ' (' + #temporals.dayOfWeekNameShort(shussha.date) + ')'}"></th:block>
                       </li>
                   </ul>
                </div>
                <div class="tab-pane" id="future" role="tabpanel" aria-labelledby="future-tab">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" th:each="shussha:${futureShussha}">
                            <div class="d-flex flex-row align-items-center">
                                <div th:text="${#temporals.format(shussha.date, 'yyyy/MM/dd') + ' (' + #temporals.dayOfWeekNameShort(shussha.date) + ')'}"></div>
                                <div class="flex-fill"></div>
                                <form th:action="@{/mypage/shussha/remove(date=${#temporals.format(shussha.date, 'yyyy/MM/dd')})}" method="post">
                                    <button class="btn btn-sm btn-outline-danger" type="submit">取り消し</button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="_common::script"/>
</body>
</html>