<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.akichil.shusshare.repository.mybatis.AccountMapper">

    <resultMap id="Account" type="net.akichil.shusshare.entity.Account">
        <id property="accountId" column="account_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="profilePhotoUrl" column="profile_photo_url"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findOne" resultMap="Account">
        SELECT
            account_id,
            user_id,
            user_name,
            password,
            profile_photo_url,
            status
        FROM
            account
        WHERE
            account_id = #{accountId}
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="accountId" keyColumn="account_id">
        INSERT INTO account(
            user_id,
            user_name,
            password,
            profile_photo_url,
            status
        )
        VALUES(
            #{userId},
            #{userName},
            #{password},
            #{profilePhotoUrl},
            #{status}
        )
    </insert>

    <update id="set">
        UPDATE
            account
        SET
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="userName != null">
                user_Name = #{userName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="profilePhotoUrl != null">
                profile_photo_url = #{profilePhotoUrl},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            lock_version = lock_version + 1,
            updated_at = CURRENT_TIMESTAMP
        WHERE
            account_id = #{accountId}
            AND
            lock_version = #{lockVersion}
    </update>

    <update id="remove">
        UPDATE
            account
        SET
            status = '${@net.akichil.shusshare.entity.AccountStatus@DELETED.getValue}',
            lock_version = lock_version + 1,
            updated_at = CURRENT_TIMESTAMP
        WHERE
            account_id = #{accountId}
            AND
            lock_version = #{lockVersion}
    </update>


</mapper>