<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.akichil.shusshare.repository.mybatis.FriendMapper">

    <resultMap id="Friend" type="net.akichil.shusshare.entity.Friend">
        <id property="friendId" column="friend_id"/>
        <result property="accountIdFrom" column="account_id_from"/>
        <result property="accountId" column="account_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="profilePhotoUrl" column="profile_photo_url"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findAllUser" resultMap="Friend">
        SELECT
            f.friend_id AS friend_id,
            f.account_id_from AS account_id_from,
            a.account_id AS account_id,
            a.user_id AS user_id,
            a.user_name AS user_name,
            a.profile_photo_url AS profile_photo_url,
            f.status AS status
        FROM
            account a
            LEFT OUTER JOIN
                (SELECT
                    friend_id,
                    account_id_from,
                    account_id_to,
                    status
                FROM
                    friend
                WHERE
                    account_id_from = #{accountIdFrom}
                ) AS f
            ON a.account_id = f.account_id_to
        <where>
            <if test="userName != null">
                (a.user_name LIKE CONCAT('%', #{userName}, '%')
                OR
                a.user_id LIKE CONCAT('%', #{userName}, '%'))
            </if>
            <if test="accountIdFrom">
                AND
                a.account_id != #{accountIdFrom}
            </if>
        </where>
    </select>

    <select id="findFriends" resultMap="Friend">
        SELECT
            f.friend_id AS account_id,
            f.account_id_from AS account_id_from,
            a.account_id_to AS account_id,
            a.user_id AS user_id,
            a.user_name AS user_name,
            a.profile_photo_url AS profile_photo_url,
            f.status AS status
        FROM
            account a
            INNER JOIN friend f
            ON a.account_id = f.account_id_from
        WHERE
            f.account_id_to = #{id}
    </select>

</mapper>