<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.akichil.shusshare.repository.mybatis.FriendMapper">

    <resultMap id="FriendDetail" type="net.akichil.shusshare.entity.FriendDetail">
        <result property="accountIdFrom" column="f_account_id_from"/>
        <result property="accountIdTo" column="f_account_id_to"/>
        <result property="accountId" column="f_account_id"/>
        <result property="userId" column="f_user_id"/>
        <result property="userName" column="f_user_name"/>
        <result property="profile" column="f_profile"/>
        <result property="profilePhotoUrl" column="f_profile_photo_url"/>
        <result property="status" column="f_status"/>
        <result property="shusshaCount" column="f_shussha_count"/>
        <result property="accountStatus" column="f_account_status"/>
        <result property="lockVersion" column="f_lock_version"/>
        <result property="updatedAt" column="f_updated_at"/>
    </resultMap>

    <resultMap id="ShusshaFriendDetail" type="net.akichil.shusshare.entity.ShusshaFriendDetail" extends="FriendDetail">
        <result property="shusshaStatus" column="f_shussha_status"/>
    </resultMap>

    <resultMap id="ShusshaFriends" type="net.akichil.shusshare.entity.ShusshaFriends" >
        <id property="date" column="f_date"/>
        <collection property="friends" resultMap="ShusshaFriendDetail"/>
    </resultMap>

    <select id="findAllUser" resultMap="FriendDetail">
        SELECT
            f.account_id_from AS f_account_id_from,
            f.account_id_to AS f_account_id_to,
            a.account_id AS f_account_id,
            a.user_id AS f_user_id,
            a.user_name AS f_user_name,
            a.profile AS f_profile,
            a.profile_photo_url AS f_profile_photo_url,
            a.shussha_count AS f_shussha_count,
            a.status AS f_account_status,
            f.status AS f_status,
            f.lock_version AS f_lock_version,
            f.updated_at AS f_updated_at
        FROM
            account a
            LEFT OUTER JOIN
                (SELECT
                    account_id_from,
                    account_id_to,
                    status,
                    lock_version,
                    updated_at
                FROM
                    friend
                WHERE
                    account_id_from = #{accountIdFrom}
                ) AS f
            ON a.account_id = f.account_id_to
        <where>
            <if test="userName != null">
                (a.user_name LIKE CONCAT('%', #{userName}, '%')
                OR
                a.user_id LIKE CONCAT('%', #{userName}, '%'))
            </if>
            <if test="accountIdFrom">
                AND
                a.account_id != #{accountIdFrom}
            </if>
            AND
            a.status != '${@net.akichil.shusshare.entity.AccountStatus@DELETED.getValue}'
        </where>
    </select>

    <select id="findFriendsFromUser" resultMap="FriendDetail">
        SELECT
            f.account_id_from AS f_account_id_from,
            f.account_id_to AS f_account_id_to,
            f.account_id_to AS f_account_id,
            a.user_id AS f_user_id,
            a.user_name AS f_user_name,
            a.profile AS f_profile,
            a.profile_photo_url AS f_profile_photo_url,
            a.shussha_count AS f_shussha_count,
            a.status AS f_account_status,
            f.status AS f_status,
            f.lock_version AS f_lock_version,
            f.updated_at AS f_updated_at
        FROM
            account a
            INNER JOIN friend f
            ON a.account_id = f.account_id_to
        WHERE
            f.account_id_from = #{id}
            and
            a.status != '${@net.akichil.shusshare.entity.AccountStatus@DELETED.getValue}'
    </select>

    <select id="findFriendsToUser" resultMap="FriendDetail">
        SELECT
            f.account_id_from AS f_account_id_from,
            f.account_id_to AS f_account_id_to,
            f.account_id_from AS f_account_id,
            a.user_id AS f_user_id,
            a.user_name AS f_user_name,
            a.profile AS f_profile,
            a.profile_photo_url AS f_profile_photo_url,
            a.shussha_count AS f_shussha_count,
            a.status AS f_account_status,
            f.status AS f_status,
            f.lock_version AS f_lock_version,
            f.updated_at AS f_updated_at
        FROM
            account a
            INNER JOIN friend f
            ON a.account_id = f.account_id_from
        WHERE
            f.account_id_to = #{id}
            AND
            a.status != '${@net.akichil.shusshare.entity.AccountStatus@DELETED.getValue}'
    </select>

    <select id="findFriendByAccountId" resultMap="FriendDetail">
        SELECT
            a.account_id AS f_account_id,
            a.user_id AS f_user_id,
            a.user_name AS f_user_name,
            a.profile AS f_profile,
            a.profile_photo_url AS f_profile_photo_url,
            a.shussha_count AS f_shussha_count,
            a.status AS f_account_status,
            f.account_id_from AS f_account_id_from,
            f.account_id_to AS f_account_id_to,
            f.status AS f_status,
            f.lock_version AS f_lock_version,
            f.updated_at AS f_updated_at
        FROM
            <include refid="joinAccountFriend"/>
        WHERE
            a.account_id = #{accountId}
            AND
            a.status != '${@net.akichil.shusshare.entity.AccountStatus@DELETED.getValue}'
    </select>

    <select id="findFriendByUserId" resultMap="FriendDetail">
        SELECT
            a.account_id AS f_account_id,
            a.user_id AS f_user_id,
            a.user_name AS f_user_name,
            a.profile AS f_profile,
            a.profile_photo_url AS f_profile_photo_url,
            a.shussha_count AS f_shussha_count,
            a.status AS f_account_status,
            f.account_id_from AS f_account_id_from,
            f.account_id_to AS f_account_id_to,
            f.status AS f_status,
            f.lock_version AS f_lock_version,
            f.updated_at AS f_updated_at
        FROM
            <include refid="joinAccountFriend"/>
        WHERE
            a.user_id = #{userId}
            AND
            a.status != '${@net.akichil.shusshare.entity.AccountStatus@DELETED.getValue}'
    </select>

    <sql id="joinAccountFriend">
        account a
        LEFT OUTER JOIN
        (SELECT
            account_id_from,
            account_id_to,
            status,
            lock_version,
            updated_at
        FROM
            friend
        WHERE
            account_id_from = #{accountIdFrom}
        ) AS f
        ON a.account_id = f.account_id_to
    </sql>

    <select id="findGoOfficeFriends" resultMap="ShusshaFriends">
        SELECT
            f.account_id_from AS f_account_id_from,
            f.account_id_to AS f_account_id_to,
            a.account_id AS f_account_id,
            a.user_id AS f_user_id,
            a.user_name AS f_user_name,
            a.profile AS f_profile,
            a.profile_photo_url AS f_profile_photo_url,
            a.shussha_count AS f_shussha_count,
            a.status AS f_account_status,
            f.status AS f_status,
            f.lock_version AS f_lock_version,
            f.updated_at AS f_updated_at,
            s.date AS f_date,
            s.status AS f_shussha_status
        FROM
            account a
            INNER JOIN friend f
            ON a.account_id = f.account_id_to
            INNER JOIN shussha s
            ON a.account_id = s.account_id
        WHERE
            f.account_id_from = #{accountId}
            AND
            a.status != '${@net.akichil.shusshare.entity.AccountStatus@DELETED.getValue}'
            AND
            f.status = '${@net.akichil.shusshare.entity.FriendStatus@FOLLOWED.getValue}'
            <if test="startDate != null">
                AND
                #{startDate} &lt;= date
            </if>
            <if test="endDate != null">
                AND
                date &lt;= #{endDate}
            </if>
        ORDER BY
            s.date ASC
    </select>

    <insert id="insert">
        INSERT INTO friend(
            account_id_from,
            account_id_to,
            status
        )
        VALUES(
            #{accountIdFrom},
            #{accountIdTo},
            #{status}
        )
    </insert>

    <update id="update">
        UPDATE
            friend
        SET
            <if test="status != null">
                status = #{status},
            </if>
            lock_version = lock_version + 1,
            updated_at = CURRENT_TIMESTAMP
        WHERE
            account_id_from = #{accountIdFrom}
            AND
            account_id_to = #{accountIdTo}
            AND
            lock_version = #{lockVersion}
    </update>

    <delete id="delete">
        DELETE FROM
            friend
        WHERE
            account_id_from = #{accountIdFrom}
            AND
            account_id_to = #{accountIdTo}
            AND
            lock_version = #{lockVersion}
    </delete>

</mapper>