<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.akichil.shusshare.repository.mybatis.ShusshaMapper">

    <resultMap id="Shussha" type="net.akichil.shusshare.entity.Shussha">
        <id property="shusshaId" column="s_shussha_id"/>
        <result property="accountId" column="s_account_id"/>
        <result property="date" column="s_date"/>
        <result property="status" column="s_status"/>
        <result property="lockVersion" column="s_lock_version"/>
    </resultMap>

    <select id="findAll" resultMap="Shussha">
        SELECT
            shussha_id AS s_shussha_id,
            account_id AS s_account_id,
            date AS s_date,
            status AS s_status,
            lock_version AS s_lock_version
        FROM
            shussha
        WHERE
            account_id = #{accountId}
            AND
            status != '${@net.akichil.shusshare.entity.ShusshaStatus@CANCEL.getValue}'
    </select>

    <select id="find" resultMap="Shussha">
        SELECT
            shussha_id AS s_shussha_id,
            account_id AS s_account_id,
            date AS s_date,
            status AS s_status,
            lock_version AS s_lock_version
        FROM
            shussha
        WHERE
            account_id = #{accountId}
            AND
            date = #{date}
    </select>

    <select id="get" resultMap="Shussha">
        SELECT
            shussha_id AS s_shussha_id,
            account_id AS s_account_id,
            date AS s_date,
            status AS s_status,
            lock_version AS s_lock_version
        FROM
            shussha
        WHERE
            shussha_id = #{shusshaId}
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="shusshaId" keyColumn="shussha_id">
        INSERT INTO shussha(
            account_id,
            date,
            status
        )
        VALUES(
            #{accountId},
            #{date},
            #{status}
        )
    </insert>

    <update id="set">
        UPDATE
            shussha
        SET
            <if test="status != null">
                status = #{status},
            </if>
            lock_version = lock_version + 1,
            updated_at = CURRENT_TIMESTAMP
        WHERE
            shussha_id = #{shusshaId}
            AND
            lock_version = #{lockVersion}
    </update>

    <update id="remove">
        UPDATE
            shussha
        SET
            status = '${@net.akichil.shusshare.entity.ShusshaStatus@CANCEL.getValue}',
            lock_version = lock_version + 1,
            updated_at = CURRENT_TIMESTAMP
        WHERE
            shussha_id = #{shusshaId}
        AND
            lock_version = #{lockVersion}
    </update>

</mapper>