<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.akichil.shusshare.repository.mybatis.ShusshaMapper">

    <resultMap id="Shussha" type="net.akichil.shusshare.entity.Shussha">
        <id property="shusshaId" column="shussha_id"/>
        <result property="accountId" column="account_id"/>
        <result property="date" column="date"/>
        <result property="status" column="status"/>
        <result property="lockVersion" column="lock_version"/>
    </resultMap>

    <select id="find" resultMap="Shussha">
        SELECT
            shussha_id,
            account_id,
            date,
            status,
            lock_version
        FROM
            shussha
        WHERE
            account_id = #{accountId}
            AND
            date = #{date}
    </select>

    <insert id="add" useGeneratedKeys="true" keyProperty="shusshaId" keyColumn="shussha_id">
        INSERT INTO shussha(
            account_id,
            date,
            status
        )
        VALUES(
            #{accountId},
            #{date},
            #{status}
        )
    </insert>

    <update id="set">
        UPDATE
            shussha
        SET
            <if test="status != null">
                status = #{status},
            </if>
            lock_version = lock_version + 1,
            updated_at = CURRENT_TIMESTAMP
        WHERE
            shussha_id = #{shusshaId}
            AND
            lock_version = #{lockVersion}
    </update>

    <delete id="remove">
        DELETE FROM
            shussha
        WHERE
            shussha_id = #{shusshaId}
    </delete>

</mapper>