<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>見つける</title>
    <th:block th:replace="_common::css"/>
</head>
<header>
    <th:block th:replace="header::header"/>
</header>
<body>
<div class="container-md mt-md-5 mt-sm-4 mt-2" style="max-width: 720px;">
    <div class="row align-items-center">
        <div class="col-md-12">
            <h2>フレンド検索</h2>
            <form th:method="GET" th:action="@{/friend/find}">
                <div class="input-group mt-3">
                    <input type="text" id="txt-search" class="form-control input-group-prepend"
                           name="userName"
                           th:value="${keyword}"
                           placeholder="ユーザIDまたはユーザ名を入力"/>
                    <span class="input-group-btn input-group-append">
                        <button type="submit" id="btn-search" class="btn btn-primary">検索</button>
                    </span>
                </div>
            </form>

            <ul class="list-group list-group-flush mt-3">
                <li class="list-group-item" th:each="user:${users}">
                    <div class="d-flex flex-row align-items-center">
                        <img src="/img/icon.png" class="img-fluid rounded-circle" width="40"
                             th:style="|background: ${@colorUtil.generateColorCode(user.userId)}|">
                        <div class="d-flex flex-column ms-2">
                            <div class="d-flex flex-row">
                                <a th:text="${user.userName}" th:href="@{/user/{userId}(userId = ${user.userId})}"/>
                                <div class="ms-2 text-secondary" th:text="${user.userId}"/>
                                <div class="ms-2">
                                    <i class="bi bi-lock-fill" th:if="${user.accountStatus.name()} == PRIVATE"></i>
                                </div>
                            </div>
                            <div class="small text-secondary mt-1" th:text="${user.profile}"></div>
                        </div>
                        <div class="flex-fill"></div>
                        <form th:if="${user.status.name()} == NONE" method="post"
                              th:action="@{/friend/add(accountId=${user.accountId}, redirectPath=${'/friend/find?userName=' + keyword})}">
                            <button type="submit" class="btn btn-info">フォロー</button>
                        </form>
                        <form th:if="${user.status.name()} == FOLLOWED" method="post"
                              th:action="@{/friend/remove(accountId=${user.accountId}, redirectPath=${'/friend/find?userName=' + keyword})}">
                            <button type="submit" class="btn btn-outline-info">フォロー中</button>
                        </form>
                        <form th:if="${user.status.name()} == REQUESTED" method="post"
                              th:action="@{/friend/remove(accountId=${user.accountId}, redirectPath=${'/friend/find?userName=' + keyword})}">
                            <button type="submit" class="btn btn-outline-info">承認待ち</button>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block th:replace="_common::script"/>
</body>
</html>