<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="_common::meta"/>
    <title>ホーム</title>
    <th:block th:replace="_common::css"/>
</head>
<header>
    <th:block th:replace="header::header"/>
</header>
<body>
<div class="container-md mt-md-5 mt-sm-4 mt-2" style="max-width: 720px;">
    <div class="row align-items-center">
        <div class="col-12">
            <h2 th:text="${#temporals.format(#temporals.createToday(), 'yyyy/MM/dd') + ' (' + #temporals.dayOfWeekNameShort(#temporals.createToday()) + ')'}"></h2>
        </div>
        <div class="col-md-2 col-2">
            <img src="/img/icon.png" class="img-fluid rounded-circle"
                 th:style="|background: ${@colorUtil.generateColorCode(account.userId)}|"/>
        </div>
        <div class="col-md-7 col-6">
            <h3>
                <th:block th:text="${account.userName}"/>
                <i class="bi bi-lock-fill" th:if="${account.status.name()} == PRIVATE"></i>
            </h3>
            <p class="fs-6 text-secondary mb-0" th:text="${account.userId}"/>
        </div>
        <div class="col-md-3 col-4">
            <div class="d-flex flex-column align-items-center">
            <form th:action="@{/home/shussha/create}" th:method="post" th:if="${shussha == null || shussha.status.name() != 'DONE'}">
                <button type="submit" class="btn btn-primary">
                    出社する！
                </button>
            </form>
            <form th:action="@{/home/shussha/remove}" th:method="delete" th:if="${shussha != null && shussha.status.name() == 'DONE'}">
                <button type="submit" class="btn btn-outline-danger">
                    取り消し
                </button>
            </form>
            <p class="mb-0" th:text="出社回数： + ${account.shusshaCount} + 回"/>
            </div>
        </div>
        <div class="col-12 mt-3">
            <a class="btn btn-primary" th:href="@{/recruitment/add(shusshaId=${shussha.shusshaId})}" th:if="${shussha != null && shussha.status.name() == 'DONE'}">
                募集作成
            </a>
        </div>

        <div class="col-md-12 mt-5">
            <h2>出社中のユーザー</h2>
            <th:block th:if="${goOfficeFriend.size == 0}">
                <div>出社しているユーザはいません</div>
            </th:block>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="shusshaFriends:${goOfficeFriend}" style="border-bottom-width: 0px;">
                    <div>
                        <h4 th:text="${#temporals.format(shusshaFriends.date, 'yyyy/MM/dd') + ' (' + #temporals.dayOfWeekNameShort(shusshaFriends.date) + ')'}"></h4>
                        <ul>
                            <li class="list-group-item" th:each="friend:${shusshaFriends.friends}">
                                <div class="d-flex flex-row align-items-center">
                                    <img src="/img/icon.png" class="img-fluid rounded-circle" width="40"
                                         th:style="|background: ${@colorUtil.generateColorCode(friend.userId)}|">
                                    <div class="d-flex flex-column ms-2">
                                        <div class="d-flex flex-row flex-wrap">
                                            <a th:text="${friend.userName}" th:href="@{/user/{userId}(userId = ${friend.userId})}"/>
                                            <div class="ms-2 text-secondary" th:text="${friend.userId}"/>
                                            <div class="mx-2 text-secondary" th:text="出社回数： + ${friend.shusshaCount}"/>
                                        </div>
                                        <div class="small text-secondary mt-1" th:text="${friend.profile}"></div>
                                    </div>
                                    <div class="flex-fill"></div>
                                    <div th:if="${friend.shusshaStatus.name() == 'DONE'}">
                                        <i class="bi bi-check-circle color-done"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<th:block th:replace="_common::script"/>
</body>
</html>