<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <th:block th:replace="_common::css"/>
</head>
<header>

</header>
<body style="background-color: #f0f8ff;">
<div class="container-md mt-5 d-flex justify-content-center" style="max-width: 720px;">
    <div class="d-flex flex-column col-sm-8 col-12 justify-content-center border rounded p-3" style="background-color: #ffffff;">
        <div class="d-flex justify-content-center my-3">
            <img src="/img/logo.png" class="imag-fluid" style="max-width:75%; height: auto;">
        </div>
        <div class=" mt-2 alert alert-danger" id="errorMsg" role="alert" th:if="${param.error}">
            ユーザー名、またはパスワードが違います。
        </div>
        <form th:action="@{/login}" method="post">
            <div class="mb-3 form-group">
                <input id="inputUserId" class="form-control" name="userId" placeholder="ユーザID"/>
            </div>
            <div class="mb-3 form-group">
                <input id="inputPassword" type="password" class="form-control" name="password"
                       placeholder="パスワード"/>
            </div>
            <button class="btn btn-primary col-12" type="submit">ログイン</button>
        </form>
        <span class="mt-5 text-secondary text-center">または</span>
        <a href="/register" class="btn btn-info mb-3">サインアップ</a>
    </div>
</div>
<th:block th:replace="_common::script"/>
</body>
</html>